#messages {
    list-style: none;
}
.messages {
    overflow: auto;
    height: 100%;
}
.people {
    background-color: lawngreen;
    /* height: 100%; */
}
.flex-wrap { flex-wrap: wrap; }

.footerx {
    position: fixed;
    bottom: 0;
}